*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
}

.items1{
    background-color: blue;
}

.items2{
    background-color: yellow;
}

.items3{
    background-color: green;
}

.items4{
    background-color: orange;
}

.items5{
    background-color: gray;
}